:root {
  --key1: #754BB4;
  --key2: #B44B55;
  --key3: #8AB44B;
  --key4: #4BB4AA; 
  --background: #F0F8F5; 
  --white: #eef2f3; 
  --black: #212c2f; 
}

body {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    color: var(--black);
    background-color: var(--background);
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Codystar', cursive;
    padding: 2rem;
    margin-top: 0.5rem;
    font-size: 4rem;

}

.container {
    padding: 1rem;
}

#key1,
#key2,
#key3,
#key4 {
  
    border-radius: 50%;
    width: 10em;
    height: 10em;
    padding: 1.5rem;
    margin: 1rem;
    border: double;
    border-width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

button {
    width: 15rem;
    height: 4rem;
    font-size: xx-large;
}

button .btndiv{
    font-weight: 800;
    font-style: var(--white);
    border-radius: 20%;
}

#key1 {
    border-color: var(--key1);
}

#key1:hover {
    background-color: var(--key1);
}

#key2 {
    border-color: var(--key2);
}

#key2:hover {
    background-color: var(--key2);
}

#key3 {
    border-color: var(--key3);
}

#key3:hover {
    background-color: var(--key3);
}

#key4 {
    border-color: var(--key4);
}

#key4:hover {
    background-color: var(--key4);
}
